
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MBL Master Templates
</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" type="text/css" rel="stylesheet" href="./css/local.css">

</head>

<body>
<div class="container">
<div class="container mbl-company-heading">
  <span class="pull-left mbl-company-name">
    <span class="xl-letter">M</span>onroe 
    <span class="xl-letter">B</span>rothers 
    <span class="xl-letter">L</span>td
  </span>
  <span class="mbl-company-logo pull-right">
    <img class="mbl-logo" src="images/mbl-logo.jpg" alt="Monroe Brothers Ltd Logo" title="Monroe Brothers Ltd" height="50px">
  </span>
  </div>
<nav class="navbar navbar-default">
  
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse centered-pills" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-pills">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">History</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Crostat Design</a></li>
                <li><a href="#">New Applications</a></li>
                <li><a href="#">Process Cooling</a></li>
                <li><a href="#">Problem Solving</a></li>
                <li><a href="#">Proposal Writing</a></li>
                <li><a href="#">Process Control</a></li>
                <li><a href="#">HAZOP Studies</a></li>
                <li><a href="#">Training</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Client List<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Air Products and Chemicals Inc.</a></li>
                <li><a href="#">Air Products PLC</a></li>
                <li><a href="#">Oxford Instruments Superconductivity Ltd</a></li>
                <li><a href="#">Oxford Instruments Molecular Biotools Ltd</a></li>
                <li><a href="#">Sapio S.r.l.</a></li>
                <li><a href="#">Daresbury Laboratory</a></li>
                <li><a href="#">Diamond Light Source Ltd</a></li>
                <li><a href="#">Pacific Northwest National Laboratory</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collaborations<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Severn Science Ltd</a></li>
                <li><a href="#">Blackhall Engineering Ltd </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Case Studies<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Pacific Northwest National Laboratory</a></li>
                <li><a href="#">Daresbury Laboratory Wiggler Repairs</a></li>
                <li><a href="#">Air Products PLC & EVC</a></li>
                <li><a href="#">AP HTSC Cable Cooling</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
                               
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
</nav>


<div class="container">



<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
  <h1>Master Template</h1>
    <div class="pull-right mbl-rhs-block hidden-xs">

      <img src="./images/mbl_page_img.jpg" alt="" class="img-thumbnail">
     
    </div>
  <p>
  The Daresbury Laboratory operate a Second Generation Light Source Synchrotron with superconducting wiggler magnets generating high intensity X-rays for two beam lines. The wiggler magnets are cooled by liquid helium circulating in a closed loop from a liquefier. After twenty years operation the system was proving vulnerable to slight disturbances which would overload the helium liquefier and disrupt the operation. The Laboratory were trying to identify the cause of their problems and to effect a solution to improve the system reliability. They came to Monroe Brothers Ltd for technical assistance.</p>

  <p>
  Monroe Brothers Ltd examined the operation of the system. There was a known anomaly in the operation of the Wiggler II magnet and close inspection of the engineering drawings identified a design error with the thermal links between the nitrogen cooled radiation screen and the helium vessel which would account for this anomaly and the unreliability of operation.<p>
</div>
</div>
<div class="row visible-xs-block">
   <div class="col-xs-12">
      <br><br>
      <img src="./images/mbl_page_img.jpg" alt="" class="img-thumbnail center-block">
   
    </div>
  </div>
</div>


<footer class="mbl-footer">

  <div class="container">
    <p>Copyright © 2015 Monroe Brothers Ltd.
  </div>
</footer>
</div>
<script src="./js/jquery-2.1.4.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
</html>