
<div class="container">

<header class="site-header">
<div class="container mbl-company-heading">
  <span class="pull-left mbl-company-name">
    <span class="xl-letter">M</span>onroe 
    <span class="xl-letter">B</span>rothers 
    <span class="xl-letter">L</span>td
  </span>
  <span class="mbl-company-logo pull-right">
    <img class="mbl-logo" src="images/mbl-logo.jpg" alt="Monroe Brothers Ltd Logo" title="Monroe Brothers Ltd" height="50px">
  </span>
  </div>
<nav class="navbar navbar-default">
  
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse centered-pills" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-pills">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">History</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Crostat Design</a></li>
                <li><a href="#">New Applications</a></li>
                <li><a href="#">Process Cooling</a></li>
                <li><a href="#">Problem Solving</a></li>
                <li><a href="#">Proposal Writing</a></li>
                <li><a href="#">Process Control</a></li>
                <li><a href="#">HAZOP Studies</a></li>
                <li><a href="#">Training</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Client List<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Air Products and Chemicals Inc.</a></li>
                <li><a href="#">Air Products PLC</a></li>
                <li><a href="#">Oxford Instruments Superconductivity Ltd</a></li>
                <li><a href="#">Oxford Instruments Molecular Biotools Ltd</a></li>
                <li><a href="#">Sapio S.r.l.</a></li>
                <li><a href="#">Daresbury Laboratory</a></li>
                <li><a href="#">Diamond Light Source Ltd</a></li>
                <li><a href="#">Pacific Northwest National Laboratory</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collaborations<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Severn Science Ltd</a></li>
                <li><a href="#">Blackhall Engineering Ltd </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Case Studies<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Pacific Northwest National Laboratory</a></li>
                <li><a href="#">Daresbury Laboratory Wiggler Repairs</a></li>
                <li><a href="#">Air Products PLC & EVC</a></li>
                <li><a href="#">AP HTSC Cable Cooling</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
                               
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
</nav>
</header>


</div><!-- /.container-fluid -->

