
<div class="container">
<footer class="mbl-footer">

  <div class="container">
    <p>Copyright © {{  site.time | date: "%Y" }} Monroe Brothers Ltd.</p>
  </div>
</footer>
</div>
<script src="{{ "/js/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap-modalmanager.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap-modal.js" | prepend: site.baseurl }}"></script>

