<div id="gallery" class="row">
    {% for image in page.image_gallery %}
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
             <img src="{{ "/images/" | prepend: site.baseurl | append: image.image }}" >
            
                <div class="caption">
                    <p>{{image.title }}</p>
                    <p class="text-muted"><em>{{image.credit }}</em></p>
                </div>
            </div>
        </div>
         <!--xs helper-->
        <div class="clearfix col-xs-12 visible-xs"></div>
    {% endfor %}
</div>